body {
  padding: 10px;
  font-family: arial;
}
#kotakberem {
  background-color: red;
  width: 100px;
  height: 100px;
}
#buletijo {
  background-color: darkgreen;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
#satisfied {
  background-color: rgb(255, 255, 255);
  width: 320px;
  height: 100px;
  border-radius: 5px;
  border: 2px solid rgb(174, 174, 174);
}
#YouTubemusik {
  background-color: rgb(28, 28, 28);
  width: 382px;
  height: 105px;
  border: none;
}
#YouTube {
  color: rgb(255, 255, 255);
  font-size: 20px;
}
#instal {
  color: rgb(170, 170, 170);
  font-size: 15px;
  margin-top: 10px;
  display: block;
}